*{
	margin: 0;
	border: 0;
	padding: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a:focus,a:active{outline: none;}
nav, footer, header, aside{display:block;}
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-area: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body {
	font-family: Gotham Pro;
	font-size: 14px;
}

header {
	height: 140px;
}

@font-face {
  font-family: "Nickainley-Normal";
  font-style: normal;
  src: url("../fonts/Nickainley-Normal.woff") format("woff");
   }


   /* МЕНЮШКА =========================================*/

nav {
	width: 100%;
}

.container-fluid.nav {
	width: 1140px;
	height: 100px;
	background: #626262;
} 

.nav-container {
	background: #626262;
}

nav a {
	color: #a0d0a0;
}

nav a:hover {
	color: #ffffff;
}

  /* ЛОГО =========================================*/

.logo-container {
	background: #484848;
	height: 300px;
}

.logos {
	height: 300px;
}

.container-fluid.logos {
	width: 1140px;
}

.logo.container-fluid {
	height: 125px;
	width: 965px;
}

.sublogo.container-fluid {
	height: 40px;
	width: 490px;
}

/* ЮЗЕР БАР =========================================*/

.userbar-container {
	height: 150px;
	background: #626262;
}

.container-fluid.userbar {
	height: 150px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 120px;
	height: 45px;
	border-radius: 3px;
	background-color: #a0a0a0;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.64px;
	margin: 0 10px;
}

.button1 .button2 {
	font-weight: 100;
}

button:hover {
	box-shadow: 0px 0px 10.65px 3.35px rgba(39, 39, 39, 0.4);
	color: #a0d0a0;
	background: #484848;
}

.container-fluid.userbar {
	width: 1140px;
}

.user-icon {
	padding-top: 8px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #ffffff;
	border-radius: 50%;
	background: #a0d0a0;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

.notification-icon {
	width: 40px;
	height: 40px;
	background: url(../icons/notificationsUser.png) no-repeat 50% 50%;
}

.mail-icon {
	width: 40px;
	height: 40px;
	background: url(../icons/mail.png) no-repeat 50% 50%;
}

.news-icon {
	width: 40px;
	height: 80px;
	background: url(../icons/list-news.png) no-repeat 50% 50%;
}

.latest-news-header p {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #ffffff;
}

p.date {
	font-weight: 600;
	font-size: 16px;
}

span.latest-news-date {
	color: #a0d0a0;
}

/* ОСНОВНОЙ КОНТЕНТ ============================================= */

.content-container {
	width: 1140px;
	margin: 0 auto;
}

.news-container {
	width: 750px;
	height: 930px;
	background: #484848;
}

.news-header {
	width: 700px;
	height: 145px;
}

.news-date-badge {
	width: 70px;
	height: 100px;
	border-radius: 3px;
	background: #626262;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	line-height: 1.5;
	margin: 10px 0 10px 27px;
}

.news-date-badge p {
	margin-top: 10px;
	font-weight: 800;
}

.news-atributes {
	height: 80px;
	width: 500px;
}

.news-title {
	color: #a0d0a0;
	font-weight: 600;
	font-size: 18px;
}

.news-title p {
	padding: 15px 0 0 30px;
}

.attributes-container {
	height: 30px;
	width: 330px;
	margin-left: 25px;
}

.attribute-author-container {
	width: 60px;
}

.attribute-date-container {
	width: 100px;
	flex-grow: 1;
}

.attribute-comment-container {
	flex-grow: 1;
}

.attributes-container p {
	color: #ffffff;
	font-weight: 100;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 15px;
}

.author-icon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background: url(../icons/author-icon.png) no-repeat 50% 50%;
}

.date-icon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background: url(../icons/date-icon.png) no-repeat 50% 50%;
}

.comments-icon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background: url(../icons/comment-icon.png) no-repeat 50% 50%;
}

.news-user-avatar {
	background: #a0d0a0;
	width: 60px;
	height: 60px;
}
